# Node modules
node_modules/
**/node_modules/
npm-debug.log
package-lock.json
yarn.lock

# Output de build
dist/
out-tsc/

# Arquivos de configuração do ambiente
.env
.env.local

# Logs
*.log

# Diretórios do sistema
.DS_Store
Thumbs.db

# Configurações do editor
.vscode/
.idea/
*.swp
